/*custom worksheet*/
@font-face {
    font-family: myFirstFont;
    src: url(../simplicity/simplicity.ttf);
}
body {
	padding:0px;
	margin:0px;
	position:relative;
	background-image: url("../wood_vertical_color.png");
	background-repeat: repeat-y repeat-x;
	background-size: 50%;
	font-family: myFirstFont;
	src: url(../simplicity/simplicity.ttf);
	font-size: 18px;
	line-height: 1.42857143;
	color: #E5D4D4;
	text-align: center;
}

/*body div.followMeWood img.woodFixed {
	z-index: -6;
	position: absolute;
	top: 0%;
	width:100%;
}*/

h1 {font-size: 300%;}
h2 {font-size: 220%;}

@font-face {
    font-family: mySecondFont;
    src: url(../AmaticSC-Regular.ttf);
}
h1 , h2, h3, h4 {
	/*font-family:"Courier New", Courier, monospace;*/
	 font-family: mySecondFont;
	color: #E5D4D4;
}
/*#E67E00*/

a {
color: 	#E67E00;
text-transform: uppercase;
}

a:hover, a:focus {
color: #009092;
}

/*div.nav_bar ul  div > div > li a*/
div.nav_bar div.stickyNav.col-xs-12 img{
		position: absolute;
		left:40%;
		z-index: 10;
		max-height: 170px;
		opacity:.6;
	}
div.nav_bar div.stickyText.stickyNav.col-xs-12.col-sm-12  {
	text-align: left;
	position: absolute;
	left:43%;
	z-index: 11;
	top: 235px;
	}

/*div.nav_bar div.stickyNav.col-sm-12 img {
	position: fixed;
	top:0px;
	left:0px;
	z-index: 10;
	margin-left: 5px;
	max-height: 170px;
	opacity:.7;
}
div.nav_bar div.stickyNav.col-sm-12 div.stickyText {
	position: fixed;
	top:54px;
	left: 30px;
	z-index: 11;
	}*/

div.container{
	padding:0px;
	margin:0px;
	width:100%;
}

#home header div.homeInfo {
	position:absolute;
	top: 8.1%;
	background-color: rgba(100, 50, 30, .65);
	color: white;
}
#home header div.homeInfo h3{
	margin: 1px;
}

header.homeContent img.imgOne {
 	width:100%;
 	margin:0px;
 	padding: 0px;
 	z-index: -1;
 }
address{margin-bottom: 0px;}

#home header div a.link-twitter img, 
#home header div a.link-facebook img,
#home header div a.link-email img{
	max-height: 68px;
}
#home header div address div a {
	text-align: right;
	position: relative;
	left: 25px;
}

#home header div address div a img{
	max-height: 30px;
}
#home header div address div.col-xs-9 h3{
	text-align: left;
}
/*img.imgTwo, img.imgThree, img.imgFour {
	width: 100%;
	margin: 0px;
	padding: 0px;
}*/
.thumbnail {
padding: 1px;
background-color: transparent;
border: none;
}

.btn-group-lg>.btn, .btn-lg {
padding: 0px;
display: block;
margin-left: auto;
margin-right: auto
}

.btn-primary {
color: #E5D4D4;
background-color: rgba(255,100,51,.4);
	border-color: rgba(255,100,51,.4); 
}
.btn-primary:hover {
	background-color: rgba(20,20,20,.5);
	border-color: rgba(20,20,20,.5);
}

div.modal-dialog div div.container.modal-body 
form div.form-group{ 
	text-align: left;
}

#menu div.menuTitleBreak div.row{
	background-image: url("../images/utensils_transparent.png");
	background-repeat: repeat-x;
}
#menu div.menuTitleBreak div.text {
		margin:80px 0px 90px;
		color: #EFE3E3;
}
#menu div.menuTitleBreak div.text h1{
		color: #EFE3E3;
}

/*#about div.aboutTitleBreak div.row{
	background-image: url("../images/st_louis_lg.png");
	background-repeat: repeat-x;
	width:100%;
}*/
#about div.aboutTitleBreak div.row {
		padding:80px 0px 90px;
		/*color: #EFE3E3;*/
}

div div div.carousel {
	margin: 25px 0px;
}

.carousel-indicators {
bottom: 5px;
padding-left: 0px;
}

ul, ol {
margin-top: 0;
margin-bottom: 0px;
}

#carousel-awards-generic > div > div.item.active > div > h2 {
	position: relative;
	top:20px;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, 
.btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary{

}

#carousel-awards-generic{
	width: 100%;
}

.carousel-inner .item a img, 
.carousel-inner .item img, .img-responsive, .thumbnail 
a img, .thumbnail img {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
height: auto;
}

#accordion{
	margin-right: auto;
	margin-left: auto;
}

#shop div.shopinfo div.row {
	padding:30% 0px 37%;
background-image: url("../images/coffeeBeans_circle.png");
background-size: 100%;
background-repeat: no-repeat;
}

#shop div.shopinfo div.row div p,
#shop div.shopinfo div.row div h1 {
	background-color: rgba(150,150,170,.4);
	margin-right: 30%;
	margin-left: 30%;
}

#shop div.shopinfo div.row div.col-xs-12.giftlink {
margin-top: 7%;
}

#shop div div div.col-xs-12
 a img {
 	max-height: 150px;
 }

div.endBlock {
	background-image: url("../images/wood_vertical_desaturated.jpg");
	background-size: 150%;
	background-repeat: repeat-x;
}
div.endBlock img.logo {
	max-height:100px;
}


@media only screen and (min-width: 750px) {
	div.nav_bar div.stickyText.stickyNav.col-xs-12.col-sm-12 {
	text-align: left;
	position: fixed;
	left: 30px;
	top:70px;
	z-index: 11;
	}

	/*div.nav_bar div.stickyNav.col-xs-12 img {
		position: absolute;
		right: 50%;
	}
	div.nav_bar ul div.stickyNav.col-xs-12 div.stickyText{
		position: absolute;
	}*/
}
@media only screen and (min-width: 750px) {
	div.nav_bar div.stickyNav.col-xs-12 img{
		position: fixed;
		top:10px;
		left:10px;
		z-index: 10;
		margin-left: 5px;
		margin-right: 0px;
		max-height: 170px;
		opacity:.6;
	}

}
@media only screen and (max-width: 750px) {

	div.nav_bar ul {
		margin-bottom: 500px;
	}

}

@media only screen and (max-width: 700px) {
	#shop div.shopinfo div.row {
	padding: 50px 0px 20%;
}

#shop div.shopinfo div.row div.col-xs-12.giftlink {
	margin-top: 65%;
}
	}

@media only screen and (max-width: 460px) {
#shop div.shopinfo div.row {
	padding: 0px 0px 10%;
}

#shop div.shopinfo div.row div.col-xs-12.giftlink {
	margin-top: 24%;
}
	}






