/*custom worksheet*/
body {
	padding:0px;
	margin:0px;
	position:relative;
}
div.container{
	padding:0px;
	margin:0px;
	width:100%;
}
/*header.homeContent {
	background-image: url("images/throughWindow.jpg");
	padding:0px;
	margin:0px;
	width:100%;
}*/
#home header div {
	position:relative;
	bottom: 0px;
}
 header.homeContent img.imgOne {
 	width:100%;
 	margin:0px;
 	padding: 0px;
 	z-index: -1;
 }
#home header div a.link-twitter img, 
#home header div a.link-facebook img,
#home header div a:nth-child(4) img{
	max-height: 68px;
}

 header div.homeInfo {

 }
/*img.imgTwo, img.imgThree, img.imgFour {
	width: 100%;
	margin: 0px;
	padding: 0px;
}*/
.thumbnail {
/*display: block;*/
padding: 1px;
/*background-color: #f34;*/
border: none;
}