/*custom worksheet*/
body {
	padding:0px;
	margin:0px;
	position:relative;
}

.navbar-brand {
	position: fixed;
}
/*.imgOne{
	z-index: -1;
}
.logo {
	position: fixed;
	z-index: 1;
}
.home {

}

.fullimg {
	width:100%;
	padding: 0px;
}
#stickylogo_contain
	{
		z-index: 99;
	}
	
	#stickylogo
	{
		position: fixed;
		margin-left: -20px;
	}*/